name: Cargo Checkmate

on:
  workflow_call:
    inputs:
      toolchain:
        description: Rust toolchain to use
        type: string
        default: stable
      rustflags:
        description: RUSTFLAGS passed via env
        type: string
        default: "-D warnings"

jobs:
  cargo-checkmate:
    name: Cargo checkmate
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        phase: [build, check, clippy, doc, format]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ inputs.toolchain }}

      - name: Cache cargo
        uses: Swatinem/rust-cache@v2

      - name: Run cargo-checkmate
        uses: zingolabs/infrastructure/.github/actions/cargo-checkmate@843c3b12c87bff458154a25ccc1bbf9be09d628b
        with:
          toolchain: ${{ inputs.toolchain }}
          rustflags: ${{ inputs.rustflags }}
          phase: ${{ matrix.phase }}
