name: CI - Nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '30 3 * * *'

jobs:
  pr-checks:
    uses: ./.github/workflows/ci-pr.yaml

  cargo-hack-build:
    name: Cargo Hack Build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ inputs.toolchain }}

      - name: Cache cargo
        uses: Swatinem/rust-cache@v2

      - name: Run cargo-hack
        uses: zingolabs/infrastructure/.github/actions/cargo-hack@20485fed7a080e381130ed8120419dc81acae641
        with:
          hack-subcommand: build
