name: Trailing Whitespace

on:
  workflow_call:

jobs:
  reject-trailing-whitespace:
    name: Reject trailing whitespace
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Reject trailing whitespace
        run: ./utils/trailing-whitespace.sh reject
